<%= form_for @question do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.label :question_group_id %><br />
    <%= f.collection_select :question_group_id, QuestionGroup.all,:id,:name %>
  </p>
  <p><%= f.submit %></p>
<% end %>
