<% title "Questions" %>

<table border="1">
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Question Group</th>
  </tr>
  <% for question in @questions %>
    <tr>
      <td><%= question.title %></td>
      <td><%= question.description %></td>
      <td><%= question.question_group_id %></td>
      <td><%= link_to "Show", question %></td>
      <td><%= link_to "Edit", edit_question_path(question) %></td>
      <td><%= link_to "Destroy", question, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Question", new_question_path %></p>
