<% title "Question" %>

<p>
  <strong>Title:</strong>
  <%= @question.title %>
</p>
<p>
  <strong>Description:</strong>
  <%= @question.description %>
</p>
<p>
  <strong>Question Group:</strong>
  <%= @question.question_group_id %>
</p>

<p>
  <%= link_to "Edit", edit_question_path(@question) %> |
  <%= link_to "Destroy", @question, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", questions_path %>
</p>
