<% title "Question Group" %>

<p>
  <strong>Name:</strong>
  <%= @question_group.name %>
</p>
<p>
  <strong>Description:</strong>
  <%= @question_group.description %>
</p>

<p>
  <%= link_to "Edit", edit_question_group_path(@question_group) %> |
  <%= link_to "Destroy", @question_group, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", question_groups_path %>
</p>
