<% title "Answers" %>

<table>
  <tr>
    <th>Question</th>
    <th>My Answer</th>
  </tr>
  <% for answer in @answers %>
    <tr>
      <td><%= answer.question.title %></td>
      <td><%= answer.value %></td>
      <td><%= link_to "Show", answer_session_answer_path(@answer_session,answer) %></td>
      <td><%= link_to "Edit", edit_answer_session_answer_path(@answer_session,answer) %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Answer", new_answer_session_answer_path %></p>

