<% title "Answer Sessions" %>

<table>
  <tr>
    <th>User</th>
    <th>Answer</th>
  </tr>
  <% for answer_session in @answer_sessions %>
    <tr>
      <td><%= answer_session.user_id %></td>
      <td><%= answer_session.answer_id %></td>
      <td><%= link_to "Show", answer_session %></td>
      <td><%= link_to "Edit", edit_answer_session_path(answer_session) %></td>
      <td><%= link_to "Destroy", answer_session, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Answer Session", new_answer_session_path %></p>
