<% title "Answer Sessions" %>

<table>
  <tr>
    <th>User</th>
    <th>Answer</th>
  </tr>
  <% for answer_session in @answer_sessions %>
    <tr>
      <td><%= answer_session.user.email %></td>
      <td><%= link_to "Show", answer_session %></td>
      <td><%= link_to "Edit", edit_answer_session_path(answer_session) %></td>
      <td><%= link_to "Destroy", answer_session, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<%= form_for @answer_session do |f| %>
  <%= f.error_messages %>
  <p><%= f.submit %></p>
<% end %>

